*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  margin: 0;
  // display: flex;
  // flex-direction: column;
  font-family: 'Raleway', sans-serif;
  color: white;
}

.main-area {
  min-height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  background: url('/img/hero-slide.jpg') no-repeat center;
  background-size: cover;
  padding: 0 6em;

  .navbar1 {
    height: 12em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      list-style: none;

      li {
        padding-left: 2em;
        &:hover {
          color: orange;
          cursor: pointer;
        }
      }
    }
  }

  .hero-area {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 8em;
      margin: 0;
    }

    .bar {
      height: .3em;
      width: 18em;
      background-color: white;
      margin-top: 1em;
    }

    button {
      margin-top: 12em;
      border-style: none;
      background-color: orange;
      color: white;
      border-radius: 8px;
      padding: 1.5em;
      font-size: 14px;
      transition: all 500ms ease-in-out;

      &:hover {
        cursor: pointer;
        background-color: red;
        transform: scale(1.1);
      }
    }
  }
}

.navbar2 {
  height: 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: gray;
  padding: 0 6em;

  ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    li {
      padding-right: 1em;
    }
  }
}

.second-area {
  display: flex;
  flex-direction: column;

  .row1 {
    display: flex;
    height: 50vh;
    .rafting {
      display: flex;
      align-items: flex-end;
      flex-basis: 50%;
      background: url('/img/raft.jpg') no-repeat center;
      background-size: cover;
    }
    .basecamp {
      display: flex;
      align-items: flex-end;
      flex-basis: 25%;
      background: url('/img/basecamp.jpg') no-repeat center;
      background-size: cover;
    }
    .backpacking {
      display: flex;
      align-items: flex-end;
      flex-basis: 25%;
      background: url('/img/backpacking.jpg') no-repeat center;
      background-size: cover;
    }
  }
  .row2 {
    display: flex;
    height: 50vh;
    .canoe {
      display: flex;
      align-items: flex-end;
      flex-basis: 25%;
      background: url('/img/canoe.jpg') no-repeat center;
      background-size: cover;
    }
    .photography {
      display: flex;
      align-items: flex-end;
      flex-basis: 25%;
      background: url('/img/taking-photos.jpg') no-repeat center;
      background-size: cover;
    }
    .custom {
      display: flex;
      align-items: flex-end;
      flex-basis: 50%;
      background: url('/img/custom.jpg') no-repeat center;
      background-size: cover;
    }
  }
}
