
//Buttons

button {
  margin-top: 12em;
  border-style: none;
  background-color: $orange;
  color: white;
  border-radius: .5em;
  padding: 1.5em;
  font-size: 14px;
  transition: all 500ms ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: rgba($orange, .8);
    transform: scale(1.1);
  }
}
