
//Navbars

.navbar1 {
  height: 12em;
  @extend %nav-flex;

  #paw-icon {
    margin-right: .3em;
  }

  h2 {
    font-family: $stack-serif;
  }

  ul {
    @extend %ul-spec;
    #menu-icon1 {
      display: none;
      @media #{$med-screen} {
        display: block;
      }
      &:hover {
        @extend %hover-spec;
      }
    }

    li {
      padding-left: 2em;
      @media #{$med-screen} {
        display: none;
      }
      &:hover {
        @extend %hover-spec;
      }
    }
  }
}

.navbar2 {
  height: 5em;
  @extend %nav-flex;
  background: $gray;
  padding: 0 6em;
  @media #{$med-screen} {
    padding: 0 2em;
  }

  .search {
    display: flex;

    p {
      padding-right: 1em;
    }
  }

  ul {
    @extend %ul-spec;
    #menu-icon2 {
      display: none;
      @media #{$sm-screen} {
        display: block;
      }
      &:hover {
        @extend %hover-spec;
      }
    }

    li {
      padding-right: 2em;
      @media #{$sm-screen} {
        display: none;
      }

      &:last-child {
        color: $orange;
        border-left: .5px solid lighten($gray, 50%);
        padding-left: 2em;
      }

      &:hover {
        @extend %hover-spec;
      }
    }
  }
}
