
//Navbars

.navbar1 {
  height: 12em;
  @extend %nav-flex;

  .fa {
    margin-right: .3em;
  }

  h2 {
    font-family: $stack-serif;
  }

  ul {
    @extend %ul-spec;

    li {
      padding-left: 2em;
      @media #{$med-screen} {
        font-size: 80%;
      }

      &:hover {
        color: $orange;
        cursor: pointer;
      }
    }
  }
}

.navbar2 {
  height: 5em;
  @extend %nav-flex;
  background: $gray;
  padding: 0 6em;

  .search {
    display: flex;

    p {
      padding-right: 1em;
    }
  }

  ul {
    @extend %ul-spec;

    li {
      padding-right: 2em;

      &:last-child {
        color: $orange;
        border-left: .5px solid gray;
        padding-left: 2em;
      }

      &:hover {
        color: $orange;
        cursor: pointer;
      }
    }
  }
}
