
//Main Containers

.main-area {
  min-height: 100vh;
  width: auto;
  @extend %flex-column;
  @include background(url('#{$path-img}/hero-slide.jpg'));
  padding: 0 6em;

  .title {
    display: flex;
    align-items: center;
  }

  .hero-area {
    @extend %flex-column;
    align-items: center;

    img {
      height: 3em;
      margin-bottom: 1em;
    }

    h1 {
      font-family: $stack-serif;
      font-size: 8em;
      margin: 0;
    }

    .bar {
      height: .3em;
      width: 18em;
      background-color: white;
    }
  }
}

//End Main Area 1

.second-area {
  @extend %flex-column;

  .row1 {
    display: flex;
    height: 50vh;

    .rafting {
      flex-basis: 50%;
      @extend %panel-spec;
      @include background(url('#{$path-img}/raft.jpg'));

      .icon {
        left: 45%;
      }
    }

    .basecamp {
      flex-basis: 25%;
      @extend %panel-spec;
      @include background(url('#{$path-img}/basecamp.jpg'));
    }

    .backpacking {
      flex-basis: 25%;
      @extend %panel-spec;
      @include background(url('#{$path-img}/backpacking.jpg'));
    }
  }

  .row2 {
    display: flex;
    height: 50vh;

    .canoe {
      flex-basis: 25%;
      @extend %panel-spec;
      @include background(url('#{$path-img}/canoe.jpg'));
    }

    .photography {
      flex-basis: 25%;
      @extend %panel-spec;
      @include background(url('#{$path-img}/taking-photos.jpg'));
    }

    .custom {
      flex-basis: 50%;
      @extend %panel-spec;
      @include background(url('#{$path-img}/custom.jpg'));

      .icon {
        left: 45%;
      }
    }
  }
}

.inner-title {
  @extend %flex-column;
  .small-break {
    height: .2em;
    width: 2.5em;
    background-color: $orange;
    margin-bottom: .8em;
  }
}
